<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Bright As Yellow</string>
	<key>PoemLine</key>
	<string>And you live your life with your arms stretched out</string>
</dict>
</plist>
