<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>More</string>
	<key>PoemLine</key>
	<string>Even if I&apos;m shouting, do you see that I&apos;m wanting</string>
</dict>
</plist>
